@model IEnumerable<Fitally.Models.WorkoutExercise>

@{
    ViewData["Title"] = "Workout exercises";
}

<div class="d-flex flex-row justify-content-center">
    <h1 class="text-center text-white-50">@ViewData["Title"]</h1>
</div>

<p>
    <a asp-action="Create" class="btn btn-info text-white">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkoutDay.DayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exercise.Name)
                </td>
                <td>
                    <div class="d-flex justify-content-center gap-2 flex-lg-nowrap flex-wrap align-content-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info text-white">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info text-white">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info text-white">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
